@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Raleway:wght@400;600;700;800&display=swap");
@import "./typography.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 100%;
}
body {
    color: rgb(var(--foreground-rgb));
    background: radial-gradient(
            61.66% 83.83% at 72.76% 81.19%,
            rgba(51, 202, 175, 0.44) 0%,
            rgba(51, 202, 175, 0) 100%
        ),
        #150937;
}
body > div {
    min-height: 100%;
}
html,
body {
    min-height: 100%;
}

.btnBg {
    background: linear-gradient(93.22deg, #44e6d2 8.1%, #26d797 93.89%);
}

.bgBlur {
    border-radius: 445px;
    opacity: 0.20000000298023224;
    background: #28d799;
    filter: blur(62px);
}

.dollorInput[type="number"]::-webkit-inner-spin-button,
.dollorInput[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shareLinkBg {
    background: linear-gradient(148deg, #051923 0%, #0b254d 100%);
}
.inputBg {
    backdrop-filter: blur(30px);
}
.header-menu-list .header-submenu {
    display: none;
}

.profileBackgroundImage {
    background-image: url("https://raw.githubusercontent.com/punithbm/eth-micropay-superhack/develop/public/assets/images/bg_card_topology.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}

.cardShine {
    --shine-deg: 45deg;
    position: relative;
    overflow: hidden;
    border-radius: 0.875rem;
    border: 1px solid rgb(15 23 42);
    background-color: #051923;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    max-width: 28rem;
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;

    background-image: linear-gradient(
        var(--shine-deg),
        transparent 20%,
        transparent 40%,
        rgb(68, 68, 68, 0.2) 50%,
        rgb(68, 68, 68, 0.2) 55%,
        transparent 70%,
        transparent 100%
    );

    background-size: 250% 250%, 100% 100%;
    transition: background-position 0s ease;
}

.cardShine:hover {
    background-position: 200%0, 0 0;
    transition-duration: 1.5s;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
  }
  
  .spinnerLoader {
    width: 50px;
    height: 50px;
    margin: 0;
    background: transparent;
    border-top: 4px solid #26d797;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #26d797;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1.1s spin linear infinite;
    animation: 1.1s spin linear infinite;
  }

  .bouncing-loader {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
  
  .bouncing-loader > div {
    width: 8px;
    height: 8px;
    margin: 3px 4px;
    border-radius: 50%;
    background: linear-gradient(93.22deg, #44e6d2 8.1%, #26d797 93.89%);
    opacity: 1;
    animation: bouncing-loader 0.5s infinite alternate;
  }

  .bouncing-loader-black {
    display: flex;
    justify-content: center;
  }
  
  .bouncing-loader-black > div {
    width: 8px;
    height: 8px;
    margin: 3px 4px;
    border-radius: 50%;
    background: #000000;
    opacity: 1;
    animation: bouncing-loader 0.5s infinite alternate;
  }
  
  @keyframes bouncing-loader {
    to {
      opacity: 0.5;
      transform: translateY(-8px);
    }
  }
  
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }

  .bouncing-loader-black > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader-black > div:nth-child(3) {
    animation-delay: 0.4s;
  }

  .claim-processing {
    background: linear-gradient(
        to right,
        #44e6d2 20%,
        #64928d 30%,
        #26d797 70%,
        #498e75 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
